a:link {
  color: $link-color;
  text-decoration: none;
}

a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-color;
  text-decoration: underline;
}

a:active {
  color: $link-color;
  text-decoration: none;
}
