a:link {
  //color: $highlight-red-on-white;
  text-decoration: none;
}

a:visited {
  //color: $highlight-red-on-white;
  text-decoration: none;
}

a:hover {
  //color: $base-font-color;
  text-decoration: underline;
}

a:active {
  //color: $base-font-color;
  text-decoration: none;
}
