body {
  color: $base-font-color;
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.75;
  margin-bottom: 1rem;
}

// sizing based on 1.25 ratio http://www.modularscale.com
//h1, .h1 {
//  font-size: $base-font-size * 1.953;
//  font-family: $title-font;
//  font-weight: normal;
//}

h2, .h2 {
  font-size: $base-font-size * 1.563;
  font-family: $heading-font;
  font-weight: 700;
  color: $primary-color;
}

h3, .h3 {
  font-size: $base-font-size * 1.25;
  font-family: $heading-font;
  color: $tertiary-color;
}

h4, .h4 {
  font-family: $heading-font;
  color: $heading-gray-color;
}

h5, .h5 {
  font-size: $base-font-size;
  font-family: $heading-font;
}
