{% extends 'base.html' %}

{% load utility_tags wagtailcore_tags crispy_forms_tags %}

{% block body_class %}contact-page{% endblock %}

{% block content %}
  <div class="contact-content-top">
    <div class="two-columns">
      <div class="column-one">
        {% for block in page.column_1 %}
          {% include_block block %}
        {% endfor %}
      </div>
      <div class="column-two">
        {% for block in page.column_2 %}
          {% include_block block %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="contact-bar-wrapper">
    <div class="contact-bar-container">
      <div class="contact-bar">
        <div class="contact-bar-block contact-bar-block__phone"><a href="tel:1-403-609-2022">403-609-2022</a></div>
        <div class="contact-bar-block contact-bar-block__email"><a href="mailto:info@bowvalleyspca.org">info@bowvalleyspca.org</a></div>
      </div>
    </div>
  </div>
  <div class="contact-content-bottom">
    <form class="form-horizontal contact-form" action="{% pageurl page %}#form" method="POST" id="contact-form">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button class="g-recaptcha btn btn-primary"
                  data-sitekey="{% get_recaptcha_site_key %}"
                  data-callback='onContactSubmit'
                  data-action='submit'>Submit</button>
        </div>
      </div>
    </form>
    <div class="contact-close">{{ page.close|richtext }}</div>
  </div>
{% endblock content %}

{% block extra_javascript %}
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    function onContactSubmit(token) {
      document.getElementById("contact-form").submit();
    }
  </script>
  {% include 'core/includes/accordion_js.html' %}
{% endblock extra_javascript %}
