{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="general-content">
    {% for block in page.body %}
      {% include_block block %}
    {% endfor %}
    {% include 'core/includes/attachments.html' %}
    {% if page.social_media %}
      {% include 'core/includes/addthis_widgets.html' %}
    {% endif %}
  </div>
{% endblock content %}

{% block sm_init %}
  {% if page.social_media %}
    {% include 'core/includes/addthis_init.html' %}
  {% endif %}
{% endblock %}

{% block extra_javascript %}
  <script>
    (function($) {
      $('.accordion h3 a').click(function(j) {
        var dropDown = $(this).closest('li').find('.accordion-body');

        $(this).closest('.accordion').find('.accordion-body').not(dropDown).slideUp();

        if ($(this).hasClass('active')) {
          $(this).removeClass('active');
        } else {
          $(this).closest('.accordion').find('a.active').removeClass('active');
          $(this).addClass('active');
        }

        dropDown.stop(false, true).slideToggle();

        j.preventDefault();
      });
    })(jQuery);
  </script>

{% endblock extra_javascript %}


