{% extends "base.html" %}
{% load staticfiles wagtailcore_tags %}

{% block content %}
  <div class="info-blocks">
    {% for block in  page.welcome %}
      {% include_block block with counter=forloop.counter %}
    {% endfor %}
  </div>
  <div class="summary-blocks">
    <div class="summary-block news-block {{ news_bg }}">
      {% include 'core/includes/list_block.html' with items=news title='News' date_field='first_published_at' index_page='news'%}
    </div>
    <div class="summary-block events-block {{ events_bg }}">
      {% include 'core/includes/list_block.html' with items=events title='Events' date_field='start_date' index_page='events'%}
    </div>
  </div>
{% endblock content %}
