{% extends "base.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="home-page">
  </div>
  <div class="home-priorities-section">
    <div class="home-priorities">
      <a class="home-priority home-priority-adoptions" href="{% slugurl 'adopt' %}">
        <div class="home-priority__title">Adoptions</div>
        <div class="home-priority__summary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        <div class="home-priority__button">Learn More</div>
      </a>
      <a class="home-priority home-priority-donations" href="{% slugurl 'invest-their-future' %}">
        <div class="home-priority__title">Donations</div>
        <div class="home-priority__summary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        <div class="home-priority__button">Learn More</div>
      </a>
      <a class="home-priority home-priority-volunteers" href="{% slugurl 'volunteers' %}">
        <div class="home-priority__title">Volunteers</div>
        <div class="home-priority__summary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
        <div class="home-priority__button">Learn More</div>
      </a>
    </div>
  </div>
  <div class="home-animal-count-section">
    <div class="home-animal-counts">
      <a class="animal-count-block animal-count-block-cats" href="{% slugurl 'cats' %}">
        <div class="animal-count"><span class="animal-count__value">{{ animal_counts.cats_adopted }}</span> Cats Adopted</div>
        <div class="animal-count"><span class="animal-count__value">{{ animal_counts.cats_rescued }}</span> Cats Rescued</div>
      </a>
      <a class="animal-count-block animal-count-block-dogs" href="{% slugurl 'dogs' %}">
        <div class="animal-count"><span class="animal-count__value">{{ animal_counts.dogs_adopted }}</span> Dogs Adopted</div>
        <div class="animal-count"><span class="animal-count__value">{{ animal_counts.dogs_rescued }}</span> Dogs Rescued</div>
      </a>
    </div>
  </div>
  {% include 'animals/includes/random_animals.html' %}
  <div class="home-news">
    <div class="home-news__header">
      <div class="home-more-news"><a href="{% slugurl 'news'  %}">All News</a></div>
      <h2>News</h2>
    </div>
    <div class="home-news-list">
      {% for news_item in news %}
        <a class="home-news-list__item{% if forloop.first %} first{% elif forloop.last %} last{% endif %}" href="{% pageurl news_item %}">
          <div class="home-news-list__item-photo">{% image news_item.main_photo fill-275x205 %}</div>
          <div class="home-news-list__item-details">
            <div class="home-news-list__item-date">{{ news_item.first_published_at|date:'M j' }}</div>
            <div class="home-news-list__item-title">{{ news_item.title }}</div>
            <div class="home-news-list__item-summary">{{ news_item.details|striptags|truncatechars:80 }}</div>
          </div>
          <div class="home-news-list__item-full-post">Full Post</div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block extra_javascript %}
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"c26f76b0683e590dc58d9596d","lid":"edbc3e05fc"}) })</script>
{% endblock extra_javascript %}
