{% load i18n utility_tags navigation_tags static wagtailuserbar wagtailcore_tags wagtailimages_tags %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block seo_and_social_tags %}
    {% if page %}
      {% seo_and_social_meta_tags self %}
    {% else %}
      <title>{{ title }}</title>
    {% endif %}
  {% endblock seo_and_social_tags %}

  <meta name="theme-color" content="#1a3b3b">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#f57300">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <meta name="msapplication-config" content="{% static 'images/browserconfig.xml' %}">
  <meta name="theme-color" content="#f5730">

  {% if page.depth == 2 %}
    {# RSS link on home page only   #}
    <link href="/feed/animals/" type="application/atom+xml" rel="alternate" title="BVSPCA Animal Feed" />
    <link href="/feed/events/" type="application/atom+xml" rel="alternate" title="BVSPCA Event Feed" />
    <link href="/feed/news/" type="application/atom+xml" rel="alternate" title="BVSPCA News Feed" />
    <link href="/feed/all/" type="application/atom+xml" rel="alternate" title="BVSPCA All Content Feed" />
  {% endif %}

  {% block css %}
  {% block extra_pre_css %}{% endblock extra_pre_css %}
    <link href="{% static 'dist/project.css' %}" rel="stylesheet">
  {% endblock %}
  {% block extra_css %}{% endblock extra_css %}
  {% if page.banner_image %}
    <style>
      {% image page.banner_image original as page_banner_orig %}
      {% image page.banner_image fill-1000x400 as page_banner_large %}
      {% image page.banner_image fill-800x400 as page_banner_medium %}
      {% image page.banner_image fill-500x400 as page_banner_small %}
      .internal-hero {
        background: url({{ page_banner_small.url }}) no-repeat center top/cover;
      }
      @media screen and (min-width: 500px) {
        .internal-hero {
          background-image: url({{ page_banner_medium.url }});
        }
      }
      @media screen and (min-width: 800px) {
        .internal-hero {
          background-image: url({{ page_banner_large.url }});
        }
      }
      @media screen and (min-width: 1000px) {
        .internal-hero {
          background-image: url({{ page_banner_orig.url }});
        }
      }
    </style>
  {% endif %}
</head>

<body class="{% block body_class %}{% endblock %} page-{{ page.pk }}{% if page.page_type %} {{ page.page_type }}{% endif %}">
<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-nav-open" viewBox="0 0 24 24" style="fill: #e68a26">
      <title>nav open</title>
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
    </symbol>
    <symbol id="icon-nav-close" viewBox="0 0 24 24" style="fill: #e68a26">
      <title>nav close</title>
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="#fff"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
    {%  block extra_svg %}{% endblock extra_svg %}
  </defs>
</svg>
{% wagtailuserbar %}

<header>
  <div class="search-region">
    <div class="search-region-content">
      <form id="search-block" class="search-block" method="get" action="{% url 'core:search' %}">
        <div class="search-controls">
          <input id="search-text" class="search-block__text" name="query" type="text" size="15" placeholder="Search website"{% if search_query %} value="{{ search_query }}"{% endif %}>
          <div id="search-button" class="search-block__button"><span>Search</span></div>
        </div>
      </form>
    </div>
  </div>
  <div class="header-adornments">
    <a class="logo-link" href="/">
      <img src="{% static 'svg/logo.svg' %}"
           title="{{ request.site.site_name }}"
           alt="{{ request.site.site_name }} Logo" class="logo">
    </a>
    {% include 'includes/social_media.html' %}
    <a class="header-button" href="{% slugurl 'contact-us' %}">Contact</a>
    <a class="header-button header-button__donate" href="{% slugurl 'donate' %}">Donate</a>
    <div id="header-button-search" class="header-button header-button__search"></div>
  </div>
  <a href="javascript:void(0)" id="main-nav-toggle" class="main-nav__toggle">
    <span class="main-nav__toggle-label">Menu</span>
    <svg class="main-nav__icon--open">
      <use xlink:href="#icon-nav-open"></use>
    </svg>
    <svg class="main-nav__icon--close">
      <use xlink:href="#icon-nav-close"></use>
    </svg>
  </a>
  <nav class="main-nav" id="main-nav" aria-label="Primary site navigation">
    <div id="main-nav-mobile-search" class="header-button nav-button__search"><span>Search</span></div>
    <div class="main-nav__items-wrapper">
      <ul class="main-nav__items">
        {% get_site_root as site_root %}
        {% top_menu parent=site_root calling_page=self %}
      </ul>
    </div>
  </nav>
  <div class="mobile-button-nav">
    <a class="mobile-button mobile-button__adopt" href="{% slugurl 'adopt' %}">Adopt</a>
    <a class="mobile-button mobile-button__donate" href="{% slugurl 'donate' %}">Donate</a>
  </div>
</header>
<main>
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  {% block content_heading %}
    {% if page.banner_image %}
      <div class="internal-hero">
      <div class="internal-hero__content">
        <h1 class="internal-hero__title">{{ page.title }}</h1>
      </div>
      </div>
    {% else %}
      <div class="title-region">
        <h1 class="title-region__title{% if page.title_size %} title-size-{{ page.title_size }}{% endif %}">{{ page.title }}</h1>
      </div>
    {% endif %}
  {% endblock content_heading %}

  {% block content %}{% endblock content %}
</main>
<div class="newsletter-signup">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="https://bowvalleyspca.us15.list-manage.com/subscribe/post?u=c26f76b0683e590dc58d9596d&amp;id=edbc3e05fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL" class="mc-title">Sign up for our newsletter</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c26f76b0683e590dc58d9596d_edbc3e05fc" tabindex="-1" value=""></div><div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
</div>
<footer id="footer">
  <div class="footer-main">
    <div class="footer-container">
      <div class="footer-block-container">
        <div class="social-media-block footer-block">
          <div class="footer-block-title">Follow</div>
          <ul class="footer-social-media">
            <li><a href="//twitter.com/BOW_VALLEY_SPCA/" title="twitter"><img class="footer-social-icon footer-social-icon__twitter" src="{% static "svg/twitter.svg" %}">Twitter</a></li>
            <li><a href="//www.youtube.com/channel/UC2utMCVRbLcgMdTYf-s0FBg" title="youtube"><img class="footer-social-icon footer-social-icon__youtube" src="{% static "svg/youtube.svg" %}">YouTube</a></li>
            <li><a href="//www.facebook.com/thebowvalleyspca/" title="facebook"><img class="footer-social-icon footer-social-icon__facebook" src="{% static "svg/facebook.svg" %}">Facebook</a></li>
            <li><a href="//www.instagram.com/bvspca/" title="instagram"><img class="footer-social-icon footer-social-icon__instagram" src="{% static "svg/instagram.svg" %}">Instagram</a></li>
          </ul>
        </div>
        <div class="location-block footer-block">
          <div class="footer-block-title">Location &amp; Hours</div>
          <ul class="footer-address-hours">
            <li class="location-block__address">
              <img class="facility-icon facility-icon-address" src="{% static "svg/location.svg" %}">
              <div class="indented-list-content">
                Bow Valley SPCA<br>
                123 Bow Meadows Crescent<br>
                Canmore, Alberta T1W 2W8
              </div>
            </li>
            <li class="location-block__hours">
              <img class="facility-icon facility-icon-hours" src="{% static "svg/hours.svg" %}">
              <div class="indented-list-content">
                <div class="footer-block-subtitle">Hours</div>
                Mon-Tue: Closed<br>
                Wed-Sun: 12pm-5pm
              </div>
            </li>
          </ul>
        </div>
        <div class="contact-block footer-block">
          <div class="footer-block-title">Contact</div>
          <ul class="footer-contacts">
            <li class="contact-block__email"><img class="contact-icon contact-icon-email" src="{% static "svg/envelope.svg" %}"><a href="mailto:info@bowvalleyspca.org">info@bowvalleyspca.org</a></li>
            <li class="contact-block__phone"><img class="contact-icon contact-icon-phone" src="{% static "svg/phone.svg" %}"><a href="tel:1-403-609-2022">403-609-2022</a></li>
            <li class="contact-block__fax"><img class="contact-icon contact-icon-fax" src="{% static "svg/fax.svg" %}">403-609-2110</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-acknowledge">
    <div class="footer-container">
      <div class="acknowledgement">
        This website is open sourced with the generous support of The Calgary Foundation.
        <a href="/calgary-foundation">Read more&hellip;</a>
      </div>
      <div class="copyright">Copyright {% now 'Y' %}. Bow Valley SPCA (BVSPCA)</div>
    </div>
  </div>
</footer>

{% block modal %}{% endblock modal %}

{% block javascript %}
  {% block extra_pre_javascript %}{% endblock extra_pre_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  <script src="{% static 'dist/site.js' %}"></script>
  {% block extra_javascript %}{% endblock extra_javascript %}
{% endblock javascript %}
{% get_google_analytics_id as ga_tracking_id %}
{% if ga_tracking_id %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ ga_tracking_id }}', 'auto');
    ga('send', 'pageview');

  </script>
{% endif %}
{% block sm_init %}{% endblock %}
</body>
</html>

