{% load static %}

<div class="pager-wrapper">
<div class="pager">
  <div class="pager-btn pager-btn__previous{% if target.has_previous %} pager-btn--active{% endif %}">
    {% if target.has_previous %}
      <a href="?page={{ target.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}" title="Previous"></a>
    {% endif %}
  </div>
  <div class="pager-pages">Page {{ target.number }} of {{ target.paginator.num_pages }}</div>
  <div class="pager-btn pager-btn__next{% if target.has_next %} pager-btn--active{% endif %}">
    {% if target.has_next %}
      <a href="?page={{ target.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}" title="Next"></a>
    {% endif %}
  </div>
</div>
</div>
