$list-full-break: 700px;

@mixin list-item-wrapper() {
  padding: {
    top: 3rem;
    bottom: 3rem;
  }
}

@mixin list-item() {
  color: $base-font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media(min-width: $list-full-break) {
    flex-direction: row;
  }
}

@mixin list-item-photo() {
  display: block;
  min-width: 280px;
  @media(min-width: $list-full-break) {
    margin: {
      right: $content-padding-medium;
    }
  }
  img {
    display: block;
    margin: 0 auto 1rem auto;
    @media(min-width: $list-full-break) {
      margin: 0;
    }
  }
}

@mixin list-item-details() {
}

@mixin list-item-date() {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
  color: $tertiary-color;
  @media(min-width: $list-full-break) {
    text-align: left;
  }
}

@mixin list-item-title {
  color: $secondary-color;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 0.5rem;
  @media(min-width: $list-full-break) {
    text-align: left;
  }
  a {
    &:hover {
      text-decoration: none;
    }
    &:link, &:active, &:visited {
      color: $secondary-color;
    }
  }
}

@mixin empty-list() {
  animation: fadein 2s;
  color: #a2a2a2;
  font-size: 1.3em;
  font-weight: 400;
  margin: 2em 0;
  text-align: center;
  img {
    width: 50px;
    padding-right: 10px;
    vertical-align: middle;
  }
}

@mixin list-item-read-more() {
  color: $secondary-color;
  font-weight: 600;
}
//@keyframes fadein {
//  from {
//    opacity: 0;
//  }
//  to {
//    opacity: 1;
//  }
//}
