$footer-block-break: 900px;

footer {
  color: $footer-text;
  a:link {
    color: $footer-text;
  }
}

.footer-main {
  background-color: $footer-bg;
  padding: 3rem 0;
}

.footer-acknowledge {
  background-color: $footer-copyright-bg;
  padding: 1rem 0;
  font-size: 0.8rem;
  line-height: 1.5em;
}

.footer-container {
  @include container-wide;
}

.footer-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $footer-block-break) {
    justify-content: space-between;
    flex-direction: row;
    align-items: normal;
  }
}

.footer-block-title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-align: center;
  @media (min-width: $footer-block-break) {
    text-align: left;
  }
}

.footer-block-subtitle {
  font-weight: 700;
}

.footer-block {
  margin-bottom: 2em;
  @media (min-width: $footer-block-break) {
    margin-bottom: 0;
  }
}

.contact-block__hours {
}

.contact-block__address {
}

.social-media-block {
}

.newsletter-signup {
  margin: 0;
  text-align: center;
}

.newsletter-signup__heading {
  color: $highlight-color;
  font-family: $heading-font;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.newsletter-signup__button {
  background-color: $button-color;
  border-radius: $button-radius;
  color: #fff;
  font-family: $title-font;
  padding: 0.25em 2em;
  text-decoration: none;
  &:link,
  &:visited {
    color: #fff;
  }
  &:hover {
    background-color: $button-hover;
    color: #fff;
    text-decoration: none;
  }
}

$copyright-break: 1000px;

.acknowledgement {
  text-align: center;
  @media (min-width: $copyright-break) {
    display: inline-block;
  }
}

.copyright {
  text-align: center;
  margin-top: 1rem;
  @media (min-width: $copyright-break) {
    display: inline-block;
    float: right;
    margin-top: 0;
  }
}

.footer-contacts {
  list-style: none;
  padding: 0;
  a:link,
  a:active,
  a:visited {
    color: $footer-text;
  }
  li {
    margin-bottom: 1.5em;
    vertical-align: top;
  }
}

.contact-icon {
  width: 22px;
  margin-right: 22px;
  vertical-align: text-top;
}

.contact-icon-email {
  position: relative;
  top: 5px;
}

.contact-icon-phone {
  position: relative;
  top: 3px;
}

.contact-icon-fax {
  position: relative;
  top: 3px;
}

.footer-address-hours {
  list-style: none;
  list-style-position: outside;
  padding: 0;
  li {
    margin-bottom: 1.5em;
    vertical-align: top;
  }
}

.facility-icon {
  width: 18px;
  margin-right: 13px;
  vertical-align: top;
  position: relative;
  top: 4px;
}

.indented-list-content {
  display: inline-block;
}
