$footer-block-break: 900px;

footer {
  color: $footer-text;
  line-height: 1.2;
  a:link {
    color: $footer-text;
  }
}

.footer-main {
  background-color: $footer-bg;
  padding: 3rem 0;
}

.footer-acknowledge {
  background-color: $footer-copyright-bg;
  padding: 1rem 0;
  font-size: 0.8rem;
  line-height: 1.5em;
}

.footer-container {
  @include container-wide;
}

.footer-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $footer-block-break) {
    justify-content: space-between;
    flex-direction: row;
    align-items: normal;
  }
}

.footer-block-title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-align: center;
  @media (min-width: $footer-block-break) {
    text-align: left;
  }
}

.footer-block-subtitle {
  font-weight: 700;
}

.footer-block {
  margin-bottom: 2em;
  @media (min-width: $footer-block-break) {
    margin-bottom: 0;
  }
}

.contact-block__hours {
}

.contact-block__address {
}

.social-media-block {
}

.newsletter-signup {
  margin: 0;
  text-align: center;
}

.newsletter-signup__heading {
  color: $highlight-color;
  font-family: $heading-font;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.newsletter-signup__button {
  background-color: $button-color;
  border-radius: $button-radius;
  color: #fff;
  font-family: $title-font;
  padding: 0.25em 2em;
  text-decoration: none;
  &:link,
  &:visited {
    color: #fff;
  }
  &:hover {
    background-color: $button-hover;
    color: #fff;
    text-decoration: none;
  }
}

$copyright-break: 1000px;

.acknowledgement {
  text-align: center;
  @media (min-width: $copyright-break) {
    display: inline-block;
  }
}

.copyright {
  text-align: center;
  margin-top: 1rem;
  @media (min-width: $copyright-break) {
    display: inline-block;
    float: right;
    margin-top: 0;
  }
}

.footer-contacts {
  list-style: none;
  padding: 0;
  a:link,
  a:active,
  a:visited {
    color: $footer-text;
  }
  li {
    margin-bottom: 1.5em;
    vertical-align: top;
  }
}

.contact-icon {
  width: 22px;
  margin-right: 22px;
  vertical-align: text-top;
}

.contact-icon-email {
  position: relative;
  top: 5px;
}

.contact-icon-phone {
  position: relative;
  top: 3px;
}

.contact-icon-fax {
  position: relative;
  top: 3px;
}

.footer-address-hours {
  list-style: none;
  list-style-position: outside;
  padding: 0;
  li {
    margin-bottom: 1.5em;
    vertical-align: top;
  }
}

.facility-icon {
  width: 18px;
  margin-right: 13px;
  vertical-align: top;
  position: relative;
  top: 4px;
}

.indented-list-content {
  display: inline-block;
}

/* Mailchimp footer signup */
$mc-field-height: 55px;
$mc-field-border-radius: 5px;

.newsletter-signup {
  background-color: $newsletter-signup-bg;
  padding: 3rem 0;
}

.mc-title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}

#mc_embed_signup {
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}

#mc_embed_signup form {
  text-align: center;
  padding: 10px 0 10px 0;
  background: none;
  @include container-narrow;
}

.mc-field-group {
  display: inline-block;
}

/* positions input field horizontally */
#mc_embed_signup input.email {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.2rem;
  border: none;
  border-top-left-radius: $mc-field-border-radius;
  border-bottom-left-radius: $mc-field-border-radius;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: $mc-field-height;
  padding: 0px 0.4em;
  display: inline-block;
  margin: 0;
  width: 350px;
  vertical-align: top;
  text-align: center;
}

#mc_embed_signup label {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 20px;
}

#mc_embed_signup .clear {
  display: inline-block;
}

/* positions button horizontally in line with input */
#mc_embed_signup .button {
  font-weight: bold;
  border: none;
  border-top-right-radius: $mc-field-border-radius;
  border-bottom-right-radius: $mc-field-border-radius;
  letter-spacing: .03em;
  color: #fff;
  background-color: $quaternary-color;
  box-sizing: border-box;
  height: $mc-field-height;
  line-height: $mc-field-height;
  padding: 0 24px;
  display: inline-block;
  margin: 0;
  transition: all 0.23s ease-in-out 0s;
  text-transform: uppercase;
}

#mc_embed_signup .button:hover {
  background-color: darken($quaternary-color, 7);
  cursor: pointer;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mc_embed_signup #mce-error-response {
  display: none;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}

@media (max-width: 768px) {
  #mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 5px;
    border-radius: $mc-field-border-radius;
  }
  #mc_embed_signup .clear {
    display: block;
    width: 100%
  }
  #mc_embed_signup .button {
    width: 100%;
    margin: 0;
    border-radius: $mc-field-border-radius;
  }
}


