$footer-block-break: 800px;

footer {
  background-color: $footer-bg;
  padding: 03rem 0;
}

.footer-container {
  @include container-wide;
}

.block-container {
  @media (min-width: $footer-block-break) {
    display: flex;
    justify-content: space-around;
  }
}

.contact-block {
  font-size: 1.1em;
  font-family: $title-font;
  text-align: center;
  margin-bottom: $content-padding-large;
  @media (min-width: $footer-block-break) {
    text-align: left;
    margin: 0;
  }
  a {
    text-decoration: none;
    padding-left: 30px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.contact-block__name {
  color: $highlight-color;
}

.contact-block__address {
  margin-bottom: 2em;
}

.contact-block__phone {
  a {
    background: url(../svg/phone.svg) no-repeat 1px 4px;
    background-size: 20px 20px;
  }
}

.contact-block__email {
  a {
    background: url(../svg/email.svg) no-repeat 0 7px;
    background-size: 22px 16px;
  }
}

.social-media-block {

}

.newsletter-signup {
  margin: 0;
  text-align: center;
}

.newsletter-signup__heading {
  color: $highlight-color;
  font-family: $heading-font;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.newsletter-signup__button {
  background-color: $highlight-color;
  color: #fff;
  &:link,
  &:visited {
    color: #fff;
  }
  font-family: $title-font;
  padding: 0.25em 2em;
  text-decoration: none;
  &:hover {
    background-color: lighten($highlight-color, 10);
    color: #fff;
    text-decoration: none;
  }
}

.acknowledgement {
  margin-top: 3em;
  text-align: center;
}
