form {
  background-color: $form-bg;
  padding: 0.5em;
  width: 100%;
  @media(min-width: 500px) {
    padding: $content-padding;
  }
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.4rem;
}

.asteriskField {
  color: $highlight-color;
}

button {
  color: #fff;
  background-color: $button-color;
  border: none;
  border-radius: $button-radius;
  display: block;
  font-size: 1.1em;
  padding: 0.5em 1em;
  margin: 1em auto;
  &:hover {
    background-color: $button-hover;
  }
}


button.btn-primary {
  color: #fff;
  background-color: $button-color;
  border: none;
  &:hover {
    background-color: $button-hover;
  }
}

#div_id_wagtailcaptcha {
  text-align: center;
  > div {
    display: inline-block;
  }
}
