$hero-height-small: 500px;
$hero-height: 680px;
$hero-height-home-small: 650px;
$hero-height-home: 750px;
$hero-height-break: 500px;
$nav-height: 86px;

.hero {
  height: $hero-height-small;
  @media(min-width: $hero-height-break) {
    height: $hero-height;
  }
  margin-top: -$nav-height;
  margin-bottom: 0;
}

.home .hero {
  height: $hero-height-home-small;
  @media(min-width: $hero-height-break) {
    height: $hero-height-home;
  }
  border-bottom: none;
}

.hero-logo {
  display: block;
  margin: 70px auto 0 auto;
  width: 75%;
  @media(min-width: 650px) {
    margin-top: 180px;
    width: 530px;
  }
}

.hero__content {
  @include container-wide;
  position: relative;
  padding-top: $nav-height;
}

.hero__hours {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  padding: 1px 3px;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  span {
    color: $highlight-red-on-white;
    padding: 0 0.5em;
  }
  @media(min-width: 800px) {
    float: right;
    text-align: left;
    padding: {
      left: 10px;
      right: 10px;
    }
  ;
  }
}

.hero__title {
  clear: both;
  color: #fff;
  font-size: $base-font-size * 1.953; // sizing based on 1.25 ratio http://www.modularscale.com
  font-family: "brandon_textlight", sans-serif;
  font-weight: normal;
  padding-top: 110px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1;
  @media(min-width: $hero-height-break) {
    padding-top: 170px;
  }
  @media(min-width: 350px) {
    font-size: $base-font-size * 2.441;
  }
  @media(min-width: 450px) {
    font-size: $base-font-size * 3.052;
  }
  @media(min-width: 600px) {
    font-size: $base-font-size * 3.815;
  }
  @media(min-width: 750px) {
    font-size: $base-font-size * 4.768;
  }
  @media(min-width: 900px) {
    font-size: $base-font-size * 5.96;
  }
}

.hero__subtitle {
  color: $highlight-red-on-white;
  margin: 45px auto 0 auto;
  overflow: hidden;
  font-family: $heading-font;
  font-style: italic;
  text-align: center;
  @media(min-width: 600px) {
    font-size: $base-font-size * 1.25;
  }
}

.our-menu {
  .hero__title {
    background: url(../svg/our-menu.svg) no-repeat 50% 40px;
    background-size: 150px;
    @media(min-width: $hero-height-break) {
      background-size: 200px;
      background-position-y: 91px;
    }
  }
}
