main {
}

.attachments {
  margin-bottom: 2em;
  margin-top: 2em;
  h3 {
    text-align: center;
  }
}

.attachments__list {
  a {
    border-left: none;
    border-right: none;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.25em 1em 0.25em 0;
    font-weight: 600;
    span {
      position: relative;
      top: 0.2rem;
      background: url(../svg/download.svg) no-repeat 100% 0.2rem;
      background-size: 20px;
      font-size: 0.8rem;
      line-height: 2;
      padding-right: 2rem;
      text-transform: uppercase;
    }
    &.odd {
    }
    &:hover {
      span {
        background-image: url(../svg/download-active.svg)
      }
    }
    &:link, &:focus, &:active, &:visited {
      color: $base-font-color;
    }
    @media (min-width: 600px) {
      margin: 0 2rem 1rem;
    }
  }
}

.intro,
.close {
  overflow: auto;
}

.intro-container,
.close-container {
  @include container-narrow;
  margin-top: $content-padding;
  margin-bottom: $content-padding;
}

.inline-image {
  clear: both;
  margin: 2em 0;
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

.random-animals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

.random-animal {
  position: relative;
  &:hover {
    .random-animal__details  {
      height: 45%;
      transition: height 0.5s;
    }
  }
}

.random-animal__photo {
  display: block;
}

.random-animal__details {
  position: absolute;
  height: 35%;
  transition: height 0.5s;
  overflow: hidden;
  display: block;
  text-align: center;
  bottom: 0;
  padding: 3rem 0 1rem;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(to top,rgba(0,0,0, 0.8), transparent);
}

.random-animal__details--extra {
  font-size: 0.9rem;
  margin-top: 0.8rem;
}

.internal-hero {
  height: 370px;
  position: relative;
  margin-bottom: 6rem;
}

.internal-hero__content {
  height: 370px;
  @include container;
}

.internal-hero__title {
  color: #fff;
  position: relative;
  top: 140px;
  font-weight: 400;
  font-size: 2.2rem;
  text-align: center;
  margin: 0;
  @media (min-width: 500px) {
    font-size: 3rem;
  }
  @media (min-width: 600px) {
    font-size: 3.5rem;
  }
  @media (min-width: 700px) {
    font-size: 4.2rem;
    text-align: left;
  }
}

.title-region {
  @include container-wide;
}

.title-region__title {
  text-align: center;
  color: #5b6972;
  font-weight: 400;
  font-size: 2.2rem;
  @media (min-width: 500px) {
    font-size: 3rem;
  }
  @media (min-width: 600px) {
    font-size: 3.5rem;
  }
  @media (min-width: 700px) {
    font-size: 4.5rem;
  }
  &.title-size-medium {
    font-size: 1.9rem;
    @media (min-width: 500px) {
      font-size: 2.3rem;
    }
    @media (min-width: 600px) {
      font-size: 2.8rem;
    }
    @media (min-width: 700px) {
      font-size: 3.7rem;
    }
  }
  &.title-size-small {
    font-size: 1.6rem;
    @media (min-width: 500px) {
      font-size: 2rem;
    }
    @media (min-width: 600px) {
      font-size: 2.5rem;
    }
    @media (min-width: 700px) {
      font-size: 3rem;
    }
  }
}

body.news .title-region__title,
body.event .title-region__title {
  text-align: center;
  color: #5b6972;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1.75em;
  @media (min-width: 500px) {
    font-size: 1.8rem;
  }
  @media (min-width: 600px) {
    font-size: 2.1rem;
  }
  @media (min-width: 700px) {
    font-size: 2.5rem;
  }
}



/* page navigation on page details page */
$page-nav-break-1: 440px;
$page-nav-break-2: 650px;

.page-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    display: block;
  }
}

.page-navigation__button {
  border-radius: 2px;
  background-color: $form-bg;
  padding: 1rem 2rem;
  font-weight: 600;
}

a.page-navigation__button {
  color: lighten($base-font-color, 20);
  &:link, &:focus, &:active {
    color: lighten($base-font-color, 20);
  }
  &:hover {
    background-color: darken($form-bg, 10);
    text-decoration: none;
  }
  @media (min-width: $page-nav-break-2) {

  }
}

.page-navigation__button--previous {
  background: $form-bg url(../svg/previous.svg) no-repeat 50% 50%;
  background-size: 7px;
  padding: 1rem 1.5rem;
  @media (min-width: $page-nav-break-1) {
    padding: 1rem 2rem;
    background-position: 12% 50%;
  }
  @media (min-width: $page-nav-break-2) {
    padding: {
      left: 2.5rem;
    };
  }
}

.page-navigation__button--next {
  background: $form-bg url(../svg/next.svg) no-repeat 50% 50%;
  background-size: 7px;
  padding: 1rem 1.5rem;
  @media (min-width: $page-nav-break-1) {
    padding: 1rem 2rem;
    background-position: 88% 50%;
  }
  @media (min-width: $page-nav-break-2) {
    padding: {
      right: 2.5rem;
    };
  }
}

.page-navigation__button--inactive {
  color: lighten($base-font-color, 40);
  padding: 1rem 1.5rem;
  @media (min-width: $page-nav-break-1) {
    padding: 1rem 2rem;
  }
  &.page-navigation__button--previous {
    background-image: url(../svg/previous-inactive.svg);
    @media (min-width: $page-nav-break-1) {
      background-position: 12% 50%;
    }
    @media (min-width: $page-nav-break-2) {
      padding: {
        left: 2.5rem;
      };
    }
  }
  &.page-navigation__button--next {
    background-image: url(../svg/next-inactive.svg);
    @media (min-width: $page-nav-break-1) {
      background-position: 88% 50%;
    }
    @media (min-width: $page-nav-break-2) {
      padding: {
        right: 2.5rem;
      };
    }
  }
}

.page-navigation__item-label {
  display: none;
  @media (min-width: $page-nav-break-2) {
    display: inline;
  }
}

.page-navigation__action-label {
  display: none;
  @media (min-width: $page-nav-break-1) {
    display: inline;
  }
}
