main {
}

.attachments {
  margin-bottom: 2em;
  margin-top: 2em;
}

.attachments__list {
  a {
    border-left: none;
    border-right: none;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    span {
      background: url(../svg/download-icon.svg) no-repeat 100% 50%;
      font-size: 0.8rem;
      line-height: 2;
      padding-right: 2rem;
      text-transform: uppercase;
    }
    &.odd {
    }
  }
}


.intro,
.close {
  background-color: $content-grey-bg;
  overflow: auto;
}

.intro-container,
.close-container {
  @include container-narrow;
  margin-top: $content-padding;
  margin-bottom: $content-padding;
}

.inline-image {
  clear: both;
  margin: 2em 0;
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
