.contact-content {
  @include container-narrow;
  margin-top: $content-padding-large;
  margin-bottom: $content-padding-large;
}

.contact-form {
  @media(min-width: 600px) {
    margin: $content-padding 0;
  }
}

.contact-thank-you {
  @include container-narrow;
  margin-top: $content-padding-large;
  margin-bottom: $content-padding-large;
}
