/* Animal list page */
$animal-block-padding: 1.5rem;

.animals {
  @include container-wide;
  margin-bottom: $content-padding-large;
}

$animal-summary-photo-width: 275px;

.animals-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  @media(min-width: $max-width) {
    justify-content: space-around;
  }
}

.animal-summary-item {
  width: $animal-summary-photo-width;
  position: relative;
  text-align: center;
  margin: 0 0 4rem 0;
  box-shadow: 0px 8px 5px 0px rgba(50, 50, 50, 0.3);
  @media(min-width: 400px) {
    margin: 0 1rem 5rem 1rem;
  }
  &:hover {
    color: #fff;
  }
}

.animal-summary {
  display: block;
  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

.animal-summary__details {
  margin-top: 1rem;
  color: $base-font-color;
  font-size: 0.9rem;
  span {
    font-weight: 600;
  }
}

.animal-summary__title {
  color: $primary-color;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.animal-summary__gender,
.animal-summary__age {
  margin-bottom: 0.5rem;
}
.animal-summary__more {
  text-transform: uppercase;
  background-color: $tertiary-color;
  padding: $animal-block-padding/2 $animal-block-padding;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1rem;
  &:hover {
    background-color: darken($tertiary-color, 10);
  }
}

/* Animal profile page */

$animal-profile-2-column: 800px;

.animal-profile {
  @include container-wide;
  margin: {
    top: $content-padding-large;
    bottom: $content-padding;
  }
}

.animal-profile__gallery-and-details {
  @media(min-width: $animal-profile-2-column) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.animal-profile__gallery {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media(min-width: $animal-profile-2-column) {
    width: 48%;
  }
}

.animal-profile__gallery-thumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.animal-profile__gallery-thumbs--hidden {
  display: none;
}

.animal-profile__gallery-thumb {
  //border: 1px solid $gp-yellow;
  display: inline-block;
  margin: 0.1em;
  &:hover {
    //border-color: darken($gp-yellow, 20%);
  }
  img {
    display: block;
  }
}

.animal-profile__gallery-thumb-main {
  display: none;
}

.animal-profile__primary-photo {
  margin-bottom: 1em;
  img {
    @include responsive-image;
    display: block;
    cursor: pointer;
  }
}

.animal-profile__placeholder-photo {
  img {
    cursor: auto;
  }
}

.animal-profile__summary {
  h1 {
    color: $primary-color;
    font-weight: 600;
    font-size: 2.8rem;
    text-align: center;
  }
  @media(min-width: $animal-profile-2-column) {
    width: 48%;
    h1 {
      margin: {
        top: 0;
        bottom: 1rem;
      }
      text-align: left;
    }
  }
}

.animal-profile__info {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}

.animal-profile__info-item {
  font-size: 0.9rem;
  @media(min-width: 400px) {
    margin: {
      left: 5%;
      right: 5%;
    };
  }
  @media(min-width: 550px) {
    margin: {
      left: 15%;
      right: 15%;
    };
  }
  @media(min-width: $animal-profile-2-column) {
    margin: {
      left: 0;
      right: 0;
    };
  }
}

.animal-profile__info-item--even {
  background-color: $bg-gray-even;
}

.animal-profile__info-item-label {
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  vertical-align: top;
}

.animal-profile__info-item-value {
  padding: 0.5rem 1rem;
  border: none;
}

.animal-profile__compatibilities {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 0.5rem;
  }
}

.animal-profile__narrative {
  margin: $content-padding 0;
  h2 {
    text-align: center;
    color: $tertiary-color;
  }
  @media(min-width: $animal-profile-2-column) {
    width: 80%;
    margin: {
      left: auto;
      right: auto;
    };
  }
}

.animal-profile__description {
  margin: {
    top: $content-padding;
    bottom: $content-padding;
  }
}

.animal-profile__adoption-date {
  text-align: center;
  font-style: italic;
}

/* Animal navigation on animal details page */
$animal-nav-break-1: 440px;
$animal-nav-break-2: 650px;

.animal-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    display: block;
  }
}

.animal-navigation__button {
  border-radius: 2px;
  background-color: $form-bg;
  padding: 1rem 2rem;
  font-weight: 600;
}

a.animal-navigation__button {
  color: lighten($base-font-color, 20);
  &:link, &:focus, &:active {
    color: lighten($base-font-color, 20);
  }
  &:hover {
    background-color: darken($form-bg, 10);
    text-decoration: none;
  }
  @media (min-width: $animal-nav-break-2) {

  }
}

.animal-navigation__button--previous {
  background: $form-bg url(../svg/previous.svg) no-repeat 50% 50%;
  background-size: 7px;
  padding: 1rem 1.5rem;
  @media (min-width: $animal-nav-break-1) {
    padding: 1rem 2rem;
    background-position: 12% 50%;
  }
  @media (min-width: $animal-nav-break-2) {
    padding: {
      left: 2.5rem;
    };
  }
}

.animal-navigation__button--next {
  background: $form-bg url(../svg/next.svg) no-repeat 50% 50%;
  background-size: 7px;
  padding: 1rem 1.5rem;
  @media (min-width: $animal-nav-break-1) {
    padding: 1rem 2rem;
    background-position: 88% 50%;
  }
  @media (min-width: $animal-nav-break-2) {
    padding: {
      right: 2.5rem;
    };
  }
}

.animal-navigation__button--inactive {
  color: lighten($base-font-color, 40);
  padding: 1rem 1.5rem;
  @media (min-width: $animal-nav-break-1) {
    padding: 1rem 2rem;
  }
  &.animal-navigation__button--previous {
    background-image: url(../svg/previous-inactive.svg);
    @media (min-width: $animal-nav-break-1) {
      background-position: 12% 50%;
    }
    @media (min-width: $animal-nav-break-2) {
      padding: {
        left: 2.5rem;
      };
    }
  }
  &.animal-navigation__button--next {
    background-image: url(../svg/next-inactive.svg);
    @media (min-width: $animal-nav-break-1) {
      background-position: 88% 50%;
    }
    @media (min-width: $animal-nav-break-2) {
      padding: {
        right: 2.5rem;
      };
    }
  }
}

.animal-navigation__species-label {
  display: none;
  @media (min-width: $animal-nav-break-2) {
    display: inline;
  }
}

.animal-navigation__action-label {
  display: none;
  @media (min-width: $animal-nav-break-1) {
    display: inline;
  }
}

/* Animal updates */
.animal-profile__updates {
  margin: 4rem 0;
}
