/* Animal list page */
.animals {
  @include container-wide;
}

$animal-summary-photo-width: 240px;
$animal-summary-photo-border-width: 4px;

.animals-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  @media(min-width: $max-width) {
    justify-content: space-around;
  }
}

.animal-summary-item {
  width: $animal-summary-photo-width + (2 * $animal-summary-photo-border-width);
  position: relative;
  text-align: center;
  margin: 0 0 2em 0;
  @media(min-width: 400px) {
    margin: 0 1em 2em 1em;
  }
  &:hover {
    color: #fff;
  }
}

.animal-summary {
  display: block;
  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

.animal-summary__more {
  width: 100%;
}

/* Animal profile page */

$animal-profile-2-column: 800px;

.animal-profile {
  @include container-wide;
}

.animal-profile__gallery-and-details {
  @media(min-width: $animal-profile-2-column) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.animal-profile__gallery {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media(min-width: $animal-profile-2-column) {
    width: 48%;
  }
}

.animal-profile__gallery-thumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.animal-profile__gallery-thumbs--hidden {
  display: none;
}

.animal-profile__gallery-thumb {
  //border: 1px solid $gp-yellow;
  display: inline-block;
  margin: 0.1em;
  &:hover {
    //border-color: darken($gp-yellow, 20%);
  }
  img {
    display: block;
  }
}

.animal-profile__gallery-thumb-main {
  display: none;
}

.animal-profile__primary-photo {
  margin-bottom: 1em;
  img {
    @include responsive-image;
    display: block;
    cursor: pointer;
  }
}

.animal-profile__placeholder-photo {
  img {
    cursor: auto;
  }
}

.animal-profile__details {
  @media(min-width: $animal-profile-2-column) {
    width: 48%;
  }
}

.animal-profile__info {
  display: flex;
  flex-direction: column;
}

.animal-profile__info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  label {
    font-weight: 700;
  }
}

.animal-profile__info-compatibility {
  display: flex;
  flex-direction: column;
}

