$event-row-break: 650px;

.home-page {
  @include container;
  margin-top: $content-padding-large;
  margin-bottom: $content-padding-large;
}

/* Priorities Section */
$priorities-break: 600px;

.home-priorities-section {
  @include container;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.home-priorities {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  @media (min-width: $priorities-break) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.home-priority {
  padding-top: 120px;
  display: block;
  text-align: center;
  max-width: 300px;
  outline: 0;
  &:hover, a:active, a:focus {
    text-decoration: none;
    .home-priority__button {
      background-color: darken($tertiary-color, 10);
    }
  }
  &:link {
    color: $heading-gray-color;
  }
}

.home-priority__title {
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.home-priority__summary {
  margin: 1rem 0;
  font-size: 1rem;
}

.home-priority__button {
  display: inline-block;
  margin: .5rem 0 2rem;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  background-color: $tertiary-color;
  color: #fff;
  border-radius: 22px;
  font-size: 0.8rem;
  font-weight: 700;
}

.home-priority-adoptions {
  background: url(../svg/dog1.svg) no-repeat 50% 0;
  background-size: 70px;
  margin-bottom: 3rem;
  @media (min-width: $priorities-break) {
    margin-bottom: 0;
  }
}

.home-priority-donations {
  background: url(../svg/cat3.svg) no-repeat 50% 0;
  background-size: 100px;
  margin-bottom: 3rem;
  @media (min-width: $priorities-break) {
    margin-bottom: 0;
  }
}

.home-priority-volunteers {
  background: url(../svg/dog2.svg) no-repeat 50% 15px;
  background-size: 84px;
  margin-bottom: 3rem;
  @media (min-width: $priorities-break) {
    margin-bottom: 0;
  }
}

/* Animal count section */
$animal-count-break: 600px;

.home-animal-count-section {
  @include container;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.home-animal-counts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: $heading-gray-color;
  @media (min-width: $animal-count-break) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.animal-count-block {
  padding-top: 80px;
  display: block;
  outline: 0;
  &:hover, a:active, a:focus {
    text-decoration: none;
  }
}

.animal-count-block-cats {
  background: url(../svg/cat2.svg) no-repeat 50% 0;
  background-size: 90px;
  margin-bottom: 3rem;
  @media (min-width: $animal-count-break) {
    margin-bottom: 0;
  }
}

.animal-count-block-dogs {
  background: url(../svg/dog3.svg) no-repeat 50% 0;
  background-size: 75px;
}

.animal-count {
  margin-bottom: 0.4em;
}

.animal-count__value {
  color: $tertiary-color;
}

/* News section */
$home-news-block-padding: 1.5rem;
$news-block-wrap-width: 1000px;
.home-news {
  @include container-wide;
  margin-top: $content-padding-large;
  margin-bottom: 3rem;
}

.home-news__header {
  margin-bottom: 2rem;
}

.home-more-news {
  float: right;
  @extend h5;
  text-transform: uppercase;
  vert-align: bottom;
  background: url(../svg/continue-triangle.svg) no-repeat 100% 50%;
  background-size: 7px;
  padding-right: 1em;
}

.home-news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: 600px) {
  }
  @media (min-width: $news-block-wrap-width) {
    justify-content: space-between;
  }
}

.home-news-list__item {
  display: flex;
  flex-direction: column;
  width: 275px;
  box-shadow: 0px 12px 10px 1px rgba(0,0,0,0.17);
  margin: 0 2rem 3rem;
  outline: 0;
  @media (min-width: $news-block-wrap-width) {
    margin: {
      left: 0;
      right: 0;
    };
  }
  &:hover, a:active, a:focus {
    text-decoration: none;
    .home-news-list__item-full-post {
      background-color: darken($content-grey-bg, 7);
    }
  }
}

.home-news-list__item-details {
  padding: $home-news-block-padding*.75 $home-news-block-padding;
  flex-grow: 2;
}

.home-news-list__item-date {
  text-transform: uppercase;
  color: $tertiary-color;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.home-news-list__item-title {
  color: $secondary-color;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.home-news-list__item-summary {
  color: $base-font-color;
  font-size: 0.9rem;
}

.home-news-list__item-full-post {
  text-transform: uppercase;
  background: $content-grey-bg url(../svg/continue.svg) no-repeat 240px 50%;
  background-size: 15px;
  padding: $home-news-block-padding/2 $home-news-block-padding;
  color: #9aa2a7;
  font-weight: 700;
  font-size: 0.9rem;
}

/* Events section */

