.news-page {
  @include container;
  margin-top: $content-padding-large;
  margin-bottom: $content-padding-large;
}

.news-item-page {
  @include container;
  margin-top: $content-padding-large;
  margin-bottom: $content-padding-large;
}
