.adoption-centre {

}

$picture-link-break: 800px;

.region-picture-links {
  display: flex;
  flex-direction: column;
  @media(min-width: $picture-link-break) {
    flex-direction: row;
  }
}

.picture-link-block {
  display: block;
  height: 470px;
  position: relative;
  &:hover {
    .picture-link-block__title {
      background-color: $tertiary-color;
    }
  }
  @media(min-width: $picture-link-break) {
    width: 50%;
  }
}

.picture-link-block__title {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  padding: 1rem 0;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  transition: all 0.23s ease-in-out 0s;
}
