.pager-wrapper {
  @include container-narrow;
}

.pager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.pager-btn__previous,
.pager-btn__next {
  i {
    margin: 7px 15px;
    display: block;
    cursor: pointer;
    &:hover {
      border-color: $primary-color;
    }
  }
}

.pager-btn {
  border: 1px solid $heading-gray-color;
  width: 40px;
  height: 40px;
  opacity: 0.3;
  a {
    display: block;
    width: inherit;
    height: inherit;
  }
}

.pager-btn__previous {
  background: url(../svg/chevron-left.svg) no-repeat 0 0;
}
.pager-btn__next {
  background: url(../svg/chevron-right.svg) no-repeat 0 0;
}

.pager-btn--active {
  opacity: 1;
  &:hover {
    opacity: 0.6;
  }
}
