/* Common styles */
.home-more-link {
  display: inline-block;
  text-transform: uppercase;
  color: $primary-color;
  background: url(../svg/continue-triangle.svg) no-repeat 100% 50%;
  background-size: 7px;
  padding-right: 1em;
  font-weight: 700;
  font-size: 1.1rem;
}


/* Slider section */
.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  position: relative;
  z-index: 0;
  display: block;
}

.swiper-slide__image {
  width: 100%;
  height: 100%;
}

.swiper-slide__message {
  @include container-wide;
  margin-top: 150px;
}

.swiper-slide__link {
  display: block;
  &:hover {
    text-decoration: none;
    span {
      background-image: url(../svg/continue.svg);
    }
  }
  span {
    padding: 0 2rem;
    background: url(../svg/continue-white.svg) no-repeat 100% 60%;
    background-size: 40px;
  }
}

.swiper-slide__content {
  background-color: rgba(20,20,20, 0.4);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.swiper-slide__title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  margin-bottom: 1rem;
  @media (min-width: 500px) {
    text-align: left;
    font-size: 4rem;
    color: $secondary-color;
  }
}

.swiper-slide__summary {
  color: white;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  @media (min-width: 500px) {
    margin: 0;
    text-align: left;
    width: 350px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 15px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}

/* Priorities Section */
$priorities-break: 600px;

.home-priorities-section {
  @include container-wide;
  margin-top: 4.5rem;
  margin-bottom: 4rem;
}

.home-priorities {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $priorities-break) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.home-priority {
  padding-top: 120px;
  display: block;
  text-align: center;
  max-width: 300px;
  outline: 0;
  color: $heading-gray-color;
  &:hover {
    text-decoration: none;
    color: $heading-gray-color;
    .home-priority__button {
      background-color: darken($tertiary-color, 10);
    }
  }
  &:link, &:active, &:focus, &:visited {
    color: $heading-gray-color;
  }
}

.home-priority__title {
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: $primary-color;
}

.home-priority__summary {
  margin: 0 0 0.5rem;
  font-size: 1rem;
}

.home-priority__button {
  display: inline-block;
  margin: .5rem 0 2rem;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  background-color: $tertiary-color;
  color: #fff;
  border-radius: 22px;
  font-size: 0.8rem;
  font-weight: 700;
}

.home-priority-adoptions {
  background: url(../svg/dog1.svg) no-repeat 50% 0;
  background-size: 70px;
  margin-bottom: 3rem;
  @media (min-width: $priorities-break) {
    margin-bottom: 0;
  }
}

.home-priority-donations {
  background: url(../svg/cat3.svg) no-repeat 50% 0;
  background-size: 100px;
  margin-bottom: 3rem;
  @media (min-width: $priorities-break) {
    margin-bottom: 0;
  }
}

.home-priority-volunteers {
  background: url(../svg/dog2.svg) no-repeat 50% 15px;
  background-size: 84px;
  margin-bottom: 3rem;
  @media (min-width: $priorities-break) {
    margin-bottom: 0;
  }
}

/* Animal count section */
$animal-count-break: 600px;

.home-animal-count-section {
  @include container;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.home-animal-counts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: $heading-gray-color;
  @media (min-width: $animal-count-break) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.animal-count-block {
  padding-top: 80px;
  display: block;
  outline: 0;
  &:hover {
    text-decoration: none;
  }
  &:link, &:visited, &:active, &:focus {
    color: $heading-gray-color;
  }
}

.animal-count-block-cats {
  background: url(../svg/cat2.svg) no-repeat 50% 0;
  background-size: 90px;
  margin-bottom: 3rem;
  @media (min-width: $animal-count-break) {
    margin-bottom: 0;
  }
}

.animal-count-block-dogs {
  background: url(../svg/dog3.svg) no-repeat 50% 0;
  background-size: 75px;
}

.animal-count {
  line-height: 1.5;
  font-weight: 600
}

.animal-count__value {
  color: $tertiary-color;
}

/* News section */
$home-news-block-padding: 1.5rem;
$news-block-wrap-width: 1000px;
.home-news {
  @include container-wide;
  margin-top: $content-padding-medium;
  margin-bottom: 3rem;
}

.home-more-link__news {
  float: right;
  vert-align: bottom;
}

.home-news__header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  h2 {
    margin: 0;
  }
}

.home-news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: 600px) {
  }
  @media (min-width: $news-block-wrap-width) {
    justify-content: space-between;
  }
}

.home-news-list__item {
  display: flex;
  flex-direction: column;
  width: 275px;
  box-shadow: 0px 12px 10px 1px rgba(0,0,0,0.17);
  margin: 0 2rem 3rem;
  outline: 0;
  line-height: 1.5;
  @media (min-width: $news-block-wrap-width) {
    margin: {
      left: 0;
      right: 0;
    };
  }
  &:hover, a:active, a:focus {
    text-decoration: none;
    .home-news-list__item-full-post {
      background-color: darken($content-grey-bg, 7);
    }
  }
}

.home-news-list__item-details {
  padding: $home-news-block-padding*.75 $home-news-block-padding;
  flex-grow: 2;
}

.home-news-list__item-date {
  text-transform: uppercase;
  color: $tertiary-color;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.home-news-list__item-title {
  color: $secondary-color;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.home-news-list__item-summary {
  color: $base-font-color;
  font-size: 0.9rem;
}

.home-news-list__item-full-post {
  text-transform: uppercase;
  background: $content-grey-bg url(../svg/continue.svg) no-repeat 240px 50%;
  background-size: 15px;
  padding: $home-news-block-padding/2 $home-news-block-padding;
  color: #9aa2a7;
  font-weight: 700;
  font-size: 0.9rem;
}

/* Events section */
.home-events-section {
}

.home-events-section__content {
  @include container;
  padding: {
    top: 2rem;
    bottom: 2rem;
  };
}

.home-events-section__title {
  font-weight: 700;
  font-size: 2rem;
  color: $secondary-color;
  margin: 0 0 2rem 0;
  text-align: center;
  @media (min-width: 500px) {
    text-align: left;
    font-size: 2.3rem;
  }
}

.home-events-section__event {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  vertical-align: center;
  margin-bottom: 1.5rem;
  max-width: 450px;
  &:hover {
    text-decoration: none;
    .home-events-section__event-date {
      background-color: darken($tertiary-color, 15);
    }
  }
}

.home-events-section__event-date {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: $tertiary-color;
  text-align: center;
  line-height: 1;
  width: 52px;
  height: 52px;
  border-radius: 3px;
  color: #fff;
  padding-top: 7px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  margin-right: 1.2rem;
  vertical-align: middle;
  span {
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.home-events-section__event-title {
  font-weight: 600;
  color: #fff;
  vertical-align: middle;
}

.home-more-link__events {
}
