/* News list page */
.news-page {
  margin-bottom: $content-padding-large;
}

.news-item-overview-wrapper {
  @include list-item-wrapper();
}

.news-item-overview-wrapper--odd {
  background-color: $bg-gray-alternate;
}

.news-item-overview {
  @include container;
  @include list-item();
}

.news-item-overview__picture {
  @include list-item-photo();
}

.news-item-overview__photo-placeholder {
  width: 280px;
  height: 280px;
  padding: 90px;
  border: 1px solid #aeaeae;
}

.news-item-overview__details {
  @include list-item-details();
}

.news-item-overview__date {
  @include list-item-date();
}

.news-item-overview__title {
  @include list-item-title();
}

.news-item-overview__read-more {
  @include list-item-read-more();
}

/* News page */
.news-item-page {
  @include container-narrow;
  margin-bottom: $content-padding-large;
}

.news__date {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $tertiary-color;
}

.news-item__photo {
  display: block;
  margin: $content-padding auto;
  @include responsive-image;
}
