.addthis_inline_share_toolbox {
  margin: 2em 0;
  text-align: center;
}

ul.social-media {
  margin: 16px 0 0 0;
  padding: 0;
  list-style-type: none;
  display: block;
  li {
    display: inline;
  }
  a {
    margin: 0 5px;
    display: inline-block;
    &:hover {
      z-index: 1;
      transform: translateY(-2px);
    }
  }
  img {
    width: 30px;
    height: 30px;
  }
}
