.addthis_inline_share_toolbox {
  margin: 2em 0;
  text-align: center;
}

.footer-social-media {
  list-style: none;
  padding: 0;
  a:link,
  a:active,
  a:visited {
    color: $footer-text;
  }
  li {
    margin-bottom: 0.9em;
  }
}

.footer-social-icon {
  width: 28px;
  margin-right: 28px;
  vertical-align: text-top;
  position: relative;
}

.footer-social-icon__facebook {
  width: 14px;
  margin: 0 calc(7px + 28px) 0 7px;
  top: -4px;
}

.footer-social-icon__twitter {
  top: -3px;
}

.footer-social-icon__youtube {
  top: -2px;
}

.footer-social-icon__instagram {
  width: 24px;
  margin: 0 calc(2px + 28px) 0 2px;
  top: -4px;
}
