/* embed block */
.embed-block {
  margin: 2em auto;
  max-width: 800px;
}

.responsive-object {
  // Responsive embeds.
  // Source: http://docs.embed.ly/docs/responsive-embeds
  // Docs: http://docs.wagtail.io/en/latest/topics/writing_templates.html?highlight=embed#responsive-embeds
  position: relative;
  height: 0;
  margin: 2em 0;
  overflow: hidden;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* image block */
.image-block {
  clear: both;
  margin: 2em 0;
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

.image-block__caption {
  font-size: 0.85em;
  text-align: center;
  margin-top: 0.5em;
}

.image-block__caption-attribution {
  font-style: italic;
  font-size: 0.9em;
}

/* quote block */
.blockquote {
  margin: 2em 0;
}

.blockquote__text {
  margin-bottom: 0;
}

.blockquote_attribution {
  font-size: 0.75em;
  font-style: normal;
  text-align: right;
  margin-top: 0;
}

/* paragraph block */
.rich-text {
  @include clearfix;
  margin: 2em 0;
}

.richtext-image {
  display: block;
  max-width: 100%;
  height: auto;
  &.right {
    float: right;
    margin-bottom: 0.5em;
    margin-left: 1em;
  }
  &.left {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
  }
  &.full-width {
    margin: 2em auto;
  }
}

/* table block */
.table-block {

}

.table-block__caption {
  font-size: 0.85em;
  text-align: center;
  margin-top: 0.5em;
}

/* link block */
.external-link {
  a {
    padding: 0.25em 1em 0.25em 0;
    margin: 0 0 1rem 0;
    display: block;
    background: url(../svg/external.svg) no-repeat 100% 55%;
    background-size: 17px;
    font-weight: 600;
    &:hover {
      background-image: url(../svg/external-active.svg);
    }
    &:link, &:focus, &:active, &:visited {
      color: $base-font-color;
    }
    @media (min-width: 500px) {
      padding: 0.25em 1em 0.25em 0;
      margin: 0 2rem 1rem;
    }
  }
}

.document-block {
  text-align: center;
  font-size: 1.1em;
  a {
    padding: 0.25em 0 0.25em 0;
    display: block;
    font-weight: 600;
    &:hover {
      span {
        background-image: url(../svg/download-active.svg);
      }
    }
    &:link, &:focus, &:active, &:visited {
      color: $base-font-color;
    }
    @media (min-width: 600px) {
      margin: 0 2rem 1rem;
    }
  }
  span {
    background: url(../svg/download.svg) no-repeat 100% 50%;
    font-size: 0.8rem;
    line-height: 2;
    padding-right: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 2rem;
  }
}

.donate-button {
  margin: {
    top: $content-padding;
    bottom: $content-padding;
  }
  text-align: center;
}

/* Accordion */
/* Based on: https://codepen.io/MightyShaban/pen/MWeeLy */
$accordion-color: #4a6e78;
$accordion-border: 1px solid lighten( $accordion-color, 50% );

.accordion {
  //max-width: 560px;
  margin: 2em 0;
  border-top: $accordion-border;
  list-style: none;
  padding: 0;
  h3.accordion-header {
    margin: 0.25em 0;
    color: $heading-gray-color;
  }
  li {
    border-bottom: $accordion-border;
    position: relative;
  }
  a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 2;
    text-indent: 15px;
    user-select: none;
    &:hover {
      text-decoration: none;
      color: darken($heading-gray-color, 20)
    }
		&:after {
			width: 10px;
      height: 10px;
			border-right: 1px solid $accordion-color;
			border-bottom: 1px solid $accordion-color;
			position: absolute;
			right: 10px;
			content: " ";
			top: 17px;
			transform: rotate(-45deg);
			transition: all 0.2s ease-in-out;
    }
    &.active:after {
      transform: rotate(45deg);
      transition: all 0.2s ease-in-out;
    }
  }
  .accordion-body {
    display: none;
    padding: 10px 25px 30px;
  }
}
