{%  load static wagtailcore_tags wagtailimages_tags %}

{% if animals %}
  <table style="width:100%">
    <tbody>
    {% for animal in animals %}
      <tr>
        <h3 class="animal-heading">{{ animal.title }}</h3>
        {% if animal.main_photo %}
          <div class="animal-photo">
            {% image animal.main_photo width-300 as main_photo%}
            <img src="{{ root_url }}{{ main_photo.url }}" width="{{ main_photo.width }}"
                 style="border: 1px solid #6e6e6e"
                 height="{{ main_photo.height }}" alt="{{ main_photo.alt }}" />
          </div>
        {% endif %}
        {% if animal.adoption_message %}
          <div class="animal-summary__adoption-message">{{ animal.adoption_message }}</div>
        {% else %}
          <div class="animal-summary__description">{{ animal.description|truncatewords_html:100 }}</div>
        {% endif %}
        <a class="animal-read-more" href="{{ root_url }}{% pageurl animal %}">Learn more about {{ animal.title }} &hellip;</a>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
