{% load static %}
<ul class="social-media">
  <li><a href="//www.facebook.com/thebowvalleyspca/" title="facebook"><img src="{% static "svg/facebook.svg" %}"></a></li>
  <li><a href="//twitter.com/BOW_VALLEY_SPCA/" title="twitter"><img src="{% static "svg/twitter.svg" %}"></a></li>
  <li><a href="//www.instagram.com/bvspca/" title="instagram"><img src="{% static "svg/instagram.svg" %}"></a></li>
  <li><a href="//www.youtube.com/channel/UC2utMCVRbLcgMdTYf-s0FBg" title="youtube"><img src="{% static "svg/youtube.svg" %}"></a></li>
  <li><a href="/newsletters" title="email"><img src="{% static "svg/envelop.svg" %}"></a></li>
</ul>
