{% extends "base.html" %}
{% load staticfiles wagtailcore_tags %}

{% block content %}
  <div class="events-list-page">
{#    {% include 'core/includes/page_title.html' %}#}
    <div id="events">
      <ul class="events list">
        {% for event in events %}
          <li>
            <a class="list-item {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" href="{% pageurl event %}">
              <div class="list-item__date">{{ event.formatted_date }}</div>
              <div class="list-item__title">{{ event.title }}{% if event.published_status %}<span class="published-status {{ event.published_status }}">{{ event.published_status }}</span>{% endif %}</div>
              <div class="list-item__summary">
                {{ event.details|truncatewords_html:50|striptags }}
              </div>
            </a>
          </li>
        {% empty %}
          <li class="empty-list"><img src="{% static 'svg/warning.svg' %}">No events available</li>
        {% endfor %}
      </ul>
{#      {% include 'core/includes/pagination.html' with target=events %}#}
    </div>
  </div>
{% endblock content %}

{% block extra_javascript %}
  <script src="{% static 'dist/events.js' %}"></script>
{% endblock extra_javascript %}
