{% extends "base.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags animal_tags %}

{% block content %}
  <div class="animal-profile">
    <div class="animal-profile__gallery-and-details">
      <div class="animal-profile__gallery">
        {% if page.main_photo %}
          <div class="animal-profile__primary-photo">
            {% image page.main_photo fill-500x500 %}
          </div>
          <div class="animal-profile__gallery-thumbs{% if not page.additional_photos %} animal-profile__gallery-thumbs--hidden{% endif %}">
            {% image page.main_photo width-1000 as main_photo %}
            <a class="animal-profile__gallery-thumb animal-profile__gallery-thumb-main"
               href="{{ main_photo.url }}">
              {% image page.main_photo fill-100x100 %}
            </a>
            {% for next_photo in page.additional_photos %}
              {% image next_photo.value width-1000 as additional_photo %}
              <a class="animal-profile__gallery-thumb"
                 href="{{ additional_photo.url }}">
                {% image next_photo.value fill-100x100 %}
              </a>
            {% endfor %}
          </div>
        {% else %}
          <div class="animal-profile__primary-photo animal-profile__placeholder-photo">
            <img src="{% if page.species == 'Cat' %}{% static 'svg/cat.svg' %}{% else %}{% static 'svg/dog.svg' %}{% endif %}">
          </div>
        {% endif %}
      </div>
      <div class="animal-profile__summary">
        <h1>{{ page.title }}</h1>
        <table class="animal-profile__info">
          <tbody>
          <tr class="animal-profile__info-item">
            <td class="animal-profile__info-item-label">ID</td>
            <td class="animal-profile__info-item-value">{{ page.petpoint_id }}</td>
          </tr>
          <tr class="animal-profile__info-item">
            <td class="animal-profile__info-item-label">Gender</td>
            <td class="animal-profile__info-item-value">{{ page.sex }}</td>
          </tr>
          <tr class="animal-profile__info-item animal-profile__info-item--even">
            <td class="animal-profile__info-item-label">Weight</td>
            <td class="animal-profile__info-item-value">{{ page.weight }}</td></tr>
          <tr class="animal-profile__info-item">
            <td class="animal-profile__info-item-label">Size</td>
            <td class="animal-profile__info-item-value">{{ page.size|to_friendly_size }}</td>
          </tr>
          <tr class="animal-profile__info-item  animal-profile__info-item--even">
            <td class="animal-profile__info-item-label">Age</td>
            <td class="animal-profile__info-item-value">{{ page.age|to_years_and_months }}</td>
          </tr>
          <tr class="animal-profile__info-item">
            <td class="animal-profile__info-item-label">Colour</td>
            <td class="animal-profile__info-item-value">{{ page.primary_color }}</td>
          </tr>
          <tr class="animal-profile__info-item  animal-profile__info-item--even">
            <td class="animal-profile__info-item-label">Breed</td>
            <td class="animal-profile__info-item-value">{{ page.primary_breed }}</td>
          </tr>
          <tr class="animal-profile__info-item">
            <td class="animal-profile__info-item-label">Status</td>
            <td class="animal-profile__info-item-value">{% if page.adoption_date %}Adopted on {{ page.adoption_date }}{% else %}{{ page.stage }}{% endif %}</td>
          </tr>
          {% if page.last_intake_date %}
            <tr class="animal-profile__info-item animal-profile__info-item--even">
              <td class="animal-profile__info-item-label">Arrival Date</td>
              <td class="animal-profile__info-item-value">{{ page.last_intake_date }}</td>
            </tr>
          {% endif %}
          <tr class="animal-profile__info-item">
            <td class="animal-profile__info-item-label">Compatibility</td>
            <td class="animal-profile__info-item-value">
              <ul class="animal-profile__compatibilities"  class="animal-profile__info-item-value">
                {% if page.special_needs %}
                  <li>Special needs: {{ page.special_needs }}</li>{% endif %}
                {% if page.no_dogs == 'Y' %}
                  <li>No Dogs</li>{% endif %}
                {% if page.no_cats == 'Y' %}
                  <li>No Cats</li>{% endif %}
                {% if page.no_kids == 'Y' %}
                  <li>No Children</li>{% endif %}
                {% if page.lived_with_kids %}
                  <li>Has lived with kids: {{ page.lived_with_kids }}</li>{% endif %}
                {% if page.lived_with_animals %}
                  <li>Has lived with animals: {{ page.lived_with_animals }}</li>{% endif %}
                {% if page.lived_with_animal_types %}
                  <li>Has lived with these animals: {{ page.lived_with_animal_types }}</li>{% endif %}
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="animal-profile__narrative">
      <h2>About {{ page.title }}</h2>
      {% if page.adoption_date %}
        <div class="animal-profile__adoption-date">We are pleased to announce that {{ page.title }} was adopted on {{ page.adoption_date }}</div>
      {% endif %}
      {% if page.adoption_message %}
        <div class="animal-profile__adoption-message">{{ page.adoption_message }}</div>
      {% endif %}
      <div class="animal-profile__description">
        {{ page.description|safe }}
      </div>
      {% if not page.adoption_date %}
        {% location_sponsor page %}
      {% endif %}
      {% include 'core/includes/addthis_widgets.html' %}
      <div class="animal-update-notice"><a href="{% slugurl 'animal-update-email' %}">Keep updated on new arrivals with our weekly animal update email...</a></div>
      {% include 'core/includes/page_navigation.html' with item_name=page.species item_plural_name=page.plural_species %}
      <div class="animal-profile__updates">
        {{ page.updates }}
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_css %}
  <link href="{% static '3rdparty/featherlight/featherlight.min.css' %}" type="text/css" rel="stylesheet"/>
  <link href="{% static '3rdparty/featherlight/featherlight.gallery.min.css' %}" type="text/css" rel="stylesheet"/>
{% endblock extra_css %}

{% block extra_javascript %}
  <script src="{% static '3rdparty/featherlight/featherlight.min.js' %}"
          type="text/javascript" charset="utf-8"></script>
  <script src="{% static '3rdparty/featherlight/featherlight.gallery.min.js' %}"
          type="text/javascript" charset="utf-8"></script>
  <script>
    $(document).ready(function () {
      $('a.animal-profile__gallery-thumb').featherlightGallery({
        previousIcon: '«',
        nextIcon: '»',
        galleryFadeIn: 100,
        galleryFadeOut: 300,
      });
      $('.animal-profile__primary-photo').click(function () {
        $('.animal-profile__gallery-thumb-main').click();
      });
    });
  </script>
{% endblock extra_javascript %}

{% block sm_init %}
  {% include 'core/includes/addthis_init.html' %}
{% endblock %}

{% block content_heading %}
  {#  No hero or title required for this page#}
{% endblock content_heading %}


{% block newsletter_block %}
  {# No general newsletter block as we have the animal update signup link and don't want to confuse things #}
{%  endblock newsletter_block %}
