{% extends "base.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags animal_tags %}

{% block content %}
  <div class="animal-profile">
    <div class="animal-profile__gallery-and-details">
      <div class="animal-profile__gallery">
        {% if page.main_photo %}
          <div class="animal-profile__primary-photo">
            {% image page.main_photo fill-500x500 %}
          </div>
          <div class="animal-profile__gallery-thumbs{% if not page.additional_photos %} animal-profile__gallery-thumbs--hidden{% endif %}">
            {% image page.main_photo width-1000 as main_photo %}
            <a class="animal-profile__gallery-thumb animal-profile__gallery-thumb-main"
               href="{{ main_photo.url }}">
              {% image page.main_photo fill-100x100 %}
            </a>
            {% for next_photo in page.additional_photos %}
              {% image next_photo.value width-1000 as additional_photo %}
              <a class="animal-profile__gallery-thumb"
                 href="{{ additional_photo.url }}">
                {% image next_photo.value fill-100x100 %}
              </a>
            {% endfor %}
          </div>
        {% else %}
          <div class="animal-profile__primary-photo animal-profile__placeholder-photo">
            <img src="{% if page.species == 'Cat' %}{% static 'svg/cat.svg' %}{% else %}{% static 'svg/dog.svg' %}{% endif %}">
          </div>
        {% endif %}
      </div>
      <div class="animal-profile__summary">
        <h1>{{ page.title }}</h1>
        <ul class="animal-profile__info">
          <li class="animal-profile__info-item"><span>Gender</span>
            <div>{{ page.sex }}</div>
          </li>
          <li class="animal-profile__info-item"><span>Weight</span>
            <div></div>
            {{ page.weight }}</li>
          <li class="animal-profile__info-item"><span>Size</span>
            <div>{{ page.size|to_friendly_size }}</div>
          </li>
          <li class="animal-profile__info-item"><span>Age</span>
            <div>{{ page.age|to_years_and_months }}</div>
          </li>
          <li class="animal-profile__info-item"><span>Colour</span>
            <div>{{ page.primary_color }}</div>
          </li>
          <li class="animal-profile__info-item"><span>Breed</span>
            <div>{{ page.primary_breed }}</div>
          </li>
          <li class="animal-profile__info-item">
            <span>Status</span>
            <div>{% if page.on_hold %}On Hold{% else %}Available for Adoption{% endif %}</div>
          </li>
          {% if page.last_intake_date %}
            <li class="animal-profile__info-item">
              <span>Arrival Date</span>
              <div>{{ page.last_intake_date }}</div>
            </li>
          {% endif %}
          <li class="animal-profile__info-item animal-profile__info-compatibility">
            <div class="animal-profile__compatibility-title">Compatibility</div>
            <ul class="animal-profile__compatibilities">
              {% if page.special_needs %}
                <li>Special needs: {{ page.special_needs }}</li>{% endif %}
              {% if page.no_dogs == 'Y' %}
                <li>No Dogs</li>{% endif %}
              {% if page.no_cats == 'Y' %}
                <li>No Cats</li>{% endif %}
              {% if page.no_kids == 'Y' %}
                <li>No Children</li>{% endif %}
              {% if page.lived_with_kids %}
                <li>Has lived with kids: {{ page.lived_with_kids }}</li>{% endif %}
              {% if page.lived_with_animals %}
                <li>Has lived with animals: {{ page.lived_with_animals }}</li>{% endif %}
              {% if page.lived_with_animal_types %}
                <li>Has lived with these animals: {{ page.lived_with_animal_types }}</li>{% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="animal-profile__narrative">
      <h2>About {{ page.title }}</h2>
      {% if page.adoption_date %}
        <div class="animal-profile__adoption-date">We are pleases to announce that {{ page.title }} was adopted on {{ page.adoption_date }}</div>
      {% endif %}
      {% if page.adoption_message %}
        <div class="animal-profile__adoption-message">{{ page.adoption_message }}</div>
      {% endif %}
      <div class="animal-profile__description">
        {{ page.description|safe }}
      </div>
      {% include 'core/includes/addthis_widgets.html' %}
      <div class="animal-profile__updates">
        {{ page.updates }}
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_css %}
  <link href="{% static '3rdparty/featherlight' %}/featherlight.min.css" type="text/css" rel="stylesheet"/>
  <link href="{% static '3rdparty/featherlight' %}/featherlight.gallery.min.css" type="text/css" rel="stylesheet"/>
{% endblock extra_css %}

{% block extra_javascript %}
  <script src="{% static '3rdparty/featherlight' %}/featherlight.min.js"
          type="text/javascript" charset="utf-8"></script>
  <script src="{% static '3rdparty/featherlight' %}/featherlight.gallery.min.js"
          type="text/javascript" charset="utf-8"></script>
  <script>
    $(document).ready(function () {
      $('a.animal-profile__gallery-thumb').featherlightGallery({
        previousIcon: '«',
        nextIcon: '»',
        galleryFadeIn: 100,
        galleryFadeOut: 300,
      });
      $('.animal-profile__primary-photo').click(function () {
        $('.animal-profile__gallery-thumb-main').click();
      });
    });
  </script>
{% endblock extra_javascript %}

{% block sm_init %}
  {% include 'core/includes/addthis_init.html' %}
{% endblock %}
