{% extends "base.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class="animal-profile">
    <div class="animal-profile__gallery-and-details">
      <div class="animal-profile__gallery">
        {% if page.main_photo %}
          <div class="animal-profile__primary-photo">
            {% image page.main_photo fill-500x500 %}
          </div>
          <div class="animal-profile__gallery-thumbs{% if not page.additional_photos %} animal-profile__gallery-thumbs--hidden{% endif %}">
            {% image page.main_photo width-1000 as main_photo %}
            <a class="animal-profile__gallery-thumb animal-profile__gallery-thumb-main"
               href="{{ main_photo.url }}">
              {% image page.main_photo fill-100x100 %}
            </a>
            {% for next_photo in page.additional_photos %}
              {% image next_photo.value width-1000 as additional_photo %}
              <a class="animal-profile__gallery-thumb"
                 href="{{ additional_photo.url }}">
                {% image next_photo.value fill-100x100 %}
              </a>
            {% endfor %}
          </div>
        {% else %}
          <div class="animal-profile__primary-photo animal-profile__placeholder-photo">
            <img src="{% if page.species == 'Cat' %}{% static 'svg/cat.svg' %}{% else %}{% static 'svg/dog.svg' %}{% endif %}">
          </div>
        {% endif %}
      </div>
      <div class="animal-profile__details">
        <h1>{{ page.title }}</h1>
        <ul class="animal-profile__info">
          <li class="animal-profile__info-item"><label>Gender</label>
            <div>{{ page.sex }}</div>
          </li>
          <li class="animal-profile__info-item"><label>Weight</label>
            <div></div>
            {{ page.weight }}</li>
          <li class="animal-profile__info-item"><label>Size</label>
            <div>{{ page.size }}</div>
          </li>
          <li class="animal-profile__info-item"><label>Age</label>
            <div>{{ page.age }}</div>
          </li>
          <li class="animal-profile__info-item"><label>Colour</label>
            <div>{{ page.primary_color }}</div>
          </li>
          <li class="animal-profile__info-item"><label>Breed</label>
            <div>{{ page.primary_breed }}</div>
          </li>
          <li class="animal-profile__info-item">
            <label>Status</label>
            <div>{% if page.on_hold %}On Hold{% else %}Available for Adoption{% endif %}</div>
          </li>
          {% if page.last_intake_date %}
            <li class="animal-profile__info-item">
              <label>Arrival Date</label>
              <div>{{ page.last_intake_date }}</div>
            </li>
          {% endif %}
          <li class="animal-profile__info-item animal-profile__info-compatibility">
            <label>Compatibility</label>
            <ul>
              {% if page.special_needs %}
                <li>{{ page.special_needs }}</li>{% endif %}
              {% if page.no_dogs %}
                <li>No Dogs</li>{% endif %}
              {% if page.no_cats %}
                <li>No Cats</li>{% endif %}
              {% if page.no_kids %}
                <li>No Children</li>{% endif %}
              {% if page.lived_with_kids %}
                <li>{{ page.lived_with_kids }}</li>{% endif %}
              {% if page.lived_with_animals %}
                <li>{{ page.lived_with_animals }}</li>{% endif %}
              {% if page.lived_with_animal_types %}
                <li>{{ page.lived_with_animal_types }}</li>{% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="animal-profile__description">
    {{ page.description }}
  </div>
{% endblock content %}

{% block extra_css %}
  <link href="{% static '3rdparty/featherlight' %}/featherlight.min.css" type="text/css" rel="stylesheet"/>
  <link href="{% static '3rdparty/featherlight' %}/featherlight.gallery.min.css" type="text/css" rel="stylesheet"/>
{% endblock extra_css %}

{% block extra_javascript %}
  <script src="{% static '3rdparty/featherlight' %}/featherlight.min.js"
          type="text/javascript" charset="utf-8"></script>
  <script src="{% static '3rdparty/featherlight' %}/featherlight.gallery.min.js"
          type="text/javascript" charset="utf-8"></script>
  <script>
    $(document).ready(function () {
      $('a.animal-profile__gallery-thumb').featherlightGallery({
        previousIcon: '«',
        nextIcon: '»',
        galleryFadeIn: 100,
        galleryFadeOut: 300,
      });
      $('.animal-profile__primary-photo').click(function () {
        $('.animal-profile__gallery-thumb-main').click();
      });
    });
  </script>
{% endblock extra_javascript %}
