{% extends "base.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags animal_tags %}

{% block content %}
  <div class="animals">
    <h1>{{ page.title }}</h1>
    <ul class="animals-list">
      {% for animal in  page.animals %}
        <li class="animal-summary-item">
          <a class="animal-summary" href="{% pageurl animal %}">
            <div class="animal-summary__photo">
              {% if animal.main_photo %}
                {% image animal.main_photo fill-240x240 %}
              {% else %}
                <img class="animal-summary__photo-placeholder"
                     src="{% static 'svg/{{ animal.species|lower }}.svg' %}"
                     width="240" height="240"
                >
              {% endif %}
            </div>
            <div class="animal-summary__details">
              <div class="animal-summary__title">{{ animal.title }}</div>
              <div class="animal-summary__gender">Gender: {{ animal.sex }}</div>
              <div class="animal-summary__age">Age: {{ animal.age|to_years_and_months }}</div>
              <button class="animal-summary__more">About {{ animal.title }} &hellip;</button>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}

{% block extra_javascript %}
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"c26f76b0683e590dc58d9596d","lid":"89dbc69c09"}) })</script>
{% endblock extra_javascript %}
