//sizing
$max-width: 1100px !default;

$content-padding: 2rem;
$content-padding-large: 6rem;

// fonts
$base-font: 'Montserrat', sans-serif;
$title-font: 'Montserrat', sans-serif;
$heading-font: 'Droid Serif', serif;
$base-font-color: #4b4648;
$base-font-size: 1.2rem;


// common color definitions
$primary-color: #e87d24;
$secondary-color: #f47c22;
$tertiary-color: #09bcc1;
$quaternary-color: #0bb5a8;
$quinary-color: #00806f;

$highlight-color: $tertiary-color;

$link-color: darken($secondary-color, 0);

$footer-bg: #1f262b;
$footer-copyright-bg: #12181c;
$footer-text: #8aa5b4;

$newsletter-signup-bg: $quaternary-color;
$newsletter-signup-btn-color: $quinary-color;

$content-grey-bg: #f7f8f8;

$heading-grey: #a6a6a6;
$bg-gray: #e0e0e0;
$bg-gray-hover: #f1f1f1;
$bg-gray-even: darken($bg-gray, 1);
$search-form-bg: #eeeeee;

// buttons
$button-hover: darken($highlight-color, 30%);
$button-color: $highlight-color;
$button-radius: 3px;
