//sizing
$max-width: 1100px !default;

$content-padding: 2rem;
$content-padding-large: 2rem;

// fonts
$base-font: 'Montserrat', sans-serif;
$title-font: 'Montserrat', sans-serif;
$heading-font: 'Droid Serif', serif;
$base-font-color: #231f20;
$base-font-size: 1.2rem;


// common color definitions
$primary-color: #e87d24;
$secondary-color: #FF6C22;
$tertiary-color: #F54B1C;

$highlight-color: $tertiary-color;

$link-color: darken($secondary-color, 0);

$footer-bg: #ececec;
$content-light-bg: #e68a26;
$content-grey-bg: #ececec;

$heading-grey: #a6a6a6;
$bg-gray: #e0e0e0;
$bg-gray-hover: #f1f1f1;
$bg-gray-even: darken($bg-gray, 1);
$search-form-bg: #eeeeee;

// buttons
$button-hover: darken($highlight-color, 30%);
$button-color: $highlight-color;
$button-radius: 3px;
